<h4>1. Registrieren</h4>
<p>
Um Daten hochzuladen brauchst Du einen Benutzerzugang. Damit kannst Du auch Dein Schiff und die verwendeten Geräte beschreiben.
</p>
<ul>
    <li><a href="#register">Registrieren</a></li>
</ul>

<h4>2. Daten sammeln</h4>
<p>
Du benötigst ein GPS Gerät, ein Echolot und Daten-Logger
um Positions- und Tiefendaten deines Schiffes aufzuzeichnen. 
Um die Daten auswerten zu können, brauchen wir Informationen über Dein Schiff, 
die verwendeten Geräte und die Position der Sensoren.
</p>

<img src="images/introduction-process-de.png" />

<h5>Software Logger</h5>
<img src="images/SW-DataLogger3.png" /> <!-- rechts, 50px, -->
<p>
Der Software-Logger läuft auf Deinem Notebook 
und sammelt deine NMEA-Daten auf einer Festplatte oder einem USB-Stick. 
Der Software-Logger ist gleichzeitig ein Navigations-Programm. 
Wie ein Plotter zeigt er Dein Schiff auf der OpenSeaMap Karte 
Im Navi-Fenster zeigt er Geschwindigkeit, Kurs, Tiefe und Wind. 
Für den Anschluss an das Notebook benötigst du einen NMEA-USB Adapter.
</p>
<ul>
    <li><a href="http://seesea.sourceforge.net/datalogger/index.html" target="_blank">Software-Daten-Logger</a></li>
	<li><a href="http://wiki.openseamap.org/wiki/De:Software_logger" target="_blank">Software-Logger im Wiki</a></li>
    <li><a href="http://wiki.openseamap.org/wiki/De:Bordnetz" target="_blank">Bordnetz</a></li>
</ul>

<h5>Kartenplotter</h5>
<p>
Einige Kartenplotter, beispielsweise von Raymarine und Lowrance, und einige AIS-Geräte 
haben einen eingebauten SD-Karten-Slot und können Tiefendaten direkt speichern. 
Diese Daten können wir ebenfalls verarbeiten.
</p>
<ul>
    <li><a href="http://wiki.openseamap.org/wiki/De:Hardware_logger" target="_blank">Plotter mit eingebautem Logger</a></li>
</ul>

<h5>Hardware Logger</h5>
<p>
Wir entwickeln einen Hardware-Logger, der direkt an den NMEA-Bus angeschlossen werden kann, 
und der die Daten automatisch auf eine SD-Karte schreibt. 
Ab August soll er verfügbar sein.
</p>

<h4>3. Tracks hochladen</h4>
<p>
Wir freuen uns über jeden Datensatz. 
Um Daten hochzuladen, benutze diesen Link:
</p>
<ul>
    <li><a href="#tracks">Tracks hochladen</a></li>
</ul>

<h4>4. Yachten verwalten</h4>
<p>
Hier findest Du ein Formular, mit dem Du Deine Yachten verwalten kannst.
Die an Bord verwendeten Geräte können hier übersichtlich erfasst werden, 
ebenso die Sensoren und deren Position.
</p>
<ul>
    <li><a href="http://wiki.openseamap.org/images/0/0f/Vessel_info_de.pdf" target="_blank">Vessel information (German)</a></li>
</ul>

<h4>5. Zuordnung Tracks zu Yachten</h4>
<p>
Falls Du mehrere Jachten betreibst, kannst Du hier Deine Tracks der richtigen Yacht zuordnen. 
Die Entwicklung für diesen Teil ist noch im Gange.
</p>
